[build-system]
requires = [ "setuptools>=40.6.0", "wheel", "poetry-core", "poetry-version-plugin",]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 110

[tool.mypy]
no_implicit_optional = false
ignore_missing_imports = true
show_error_codes = true

[tool.poetry]
name = "bitcoin-safe"
version = "0.7.2a0"
description = "Long-term Bitcoin savings made Easy"
authors = [ "andreasgriffin <andreasgriffin@proton.me>",]
license = "GPL-3.0"
readme = "README.md"
homepage = "https://github.com/andreasgriffin/bitcoin-safe"

[tool.poetry-version-plugin]
source = "init"

[tool.briefcase]
project_name = "Bitcoin-Safe"
bundle = "org.bitcoin-safe"
version = "0.7.1a0"
url = "https://bitcoin-safe.org"
license = "GNU General Public License v3 (GPLv3)"
author = "Andreas Griffin"
author_email = "andreasgriffin@proton.me"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
fpdf2 = "2.7.4"
requests = "^2.31.0"
pyyaml = "6.0"
numpy = "^1.21.0"
bdkpython = "^0.31.0"
cryptography = "^42.0.2"
hwi = ">=2.3.1"
appdirs = "1.4.4"
reportlab = "4.0.8"
cbor2 = "^5.6.0"
pyqt6 = "^6.6.1"
pyqt6-charts = "^6.6.0"
electrumsv-secp256k1 = "^18.0.0"
python-gnupg = "^0.5.2"
bitcoin-nostr-chat = "^0.2.3"
bitcoin-qr-tools = "^0.10.8"
bitcoin-usb = "^0.1.16"

[tool.briefcase.app.bitcoin-safe]
formal_name = "Bitcoin-Safe"
description = "A bitcoin wallet for the entire family."
long_description = "More details about the app should go here.\n"
sources = [ "bitcoin_safe",]
test_sources = [ "tests",]
test_requires = [ "pytest",]
requires = [ "appdirs==1.4.4", "arrow==1.3.0", "asn1crypto==1.5.1", "base58==2.1.1", "bdkpython==0.31.0", "binaryornot==0.4.4", "bitcoin-nostr-chat==0.2.3", "bitcoin-qr-tools==0.10.6", "bitcoin-usb==0.1.16", "briefcase==0.3.19", "build==1.2.1", "cbor2==5.6.4", "certifi==2024.7.4", "cffi==1.16.0", "cfgv==3.4.0", "chardet==5.2.0", "charset-normalizer==3.3.2", "click==8.1.7", "colorama==0.4.6", "cookiecutter==2.6.0", "cryptography==42.0.8", "defusedxml==0.7.1", "distlib==0.3.8", "dmgbuild==1.6.1", "ds-store==1.3.1", "ecdsa==0.19.0", "electrumsv-secp256k1==18.0.0", "exceptiongroup==1.2.2", "filelock==3.15.4", "fonttools==4.53.1", "fpdf2==2.7.4", "gitdb==4.0.11", "gitpython==3.1.43", "hidapi==0.14.0", "hwi==3.0.0", "identify==2.6.0", "idna==3.7", "importlib-metadata==8.0.0", "iniconfig==2.0.0", "jinja2==3.1.4", "libusb1==3.1.0", "lxml==5.2.2", "mac-alias==2.2.2", "markdown-it-py==3.0.0", "markupsafe==2.1.5", "mdurl==0.1.2", "mnemonic==0.21", "mss==9.0.1", "nodeenv==1.9.1", "noiseprotocol==0.3.1", "nostr-sdk==0.32.2", "numpy==1.26.4", "opencv-python-headless==4.10.0.84", "packaging==24.1", "pillow==10.4.0", "pip==24.1.2", "platformdirs==4.2.2", "pluggy==1.5.0", "pre-commit==3.7.1", "protobuf==4.25.3", "psutil==5.9.8", "pyaes==1.6.1", "pycparser==2.22", "pygame==2.6.0", "pygments==2.18.0", "pyprof2calltree==1.4.5", "pyproject-hooks==1.1.0", "pyqrcode==1.2.1", "pyqt6==6.7.0", "pyqt6-charts==6.7.0", "pyqt6-charts-qt6==6.7.2", "pyqt6-qt6==6.7.2", "pyqt6-sip==13.8.0", "pyserial==3.5", "pytest==8.2.2", "pytest-qt==4.4.0", "pytest-xvfb==3.0.0", "python-bitcointx==1.1.4", "python-dateutil==2.9.0.post0", "python-gnupg==0.5.2", "python-slugify==8.0.4", "pyvirtualdisplay==3.0", "pyyaml==6.0", "pyzbar==0.1.9", "reportlab==4.0.8", "requests==2.32.3", "rich==13.7.1", "segno==1.6.1", "semver==3.0.2", "setuptools==71.0.1", "six==1.16.0", "smmap==5.0.1", "snakeviz==2.2.0", "text-unidecode==1.3", "tomli==2.0.1", "tomli-w==1.0.0", "tornado==6.4.1", "translate-toolkit==3.13.2", "types-python-dateutil==2.9.0.20240316", "typing-extensions==4.12.2", "urllib3==2.2.2", "virtualenv==20.26.3", "wcwidth==0.2.13", "wheel==0.43.0", "zipp==3.19.2",]
icon = "tools/resources/icon"
resources = [ "bitcoin_safe/gui/locales/*.qm",]

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
pytest-qt = ">=4.4.0"
briefcase = "0.3.19"
requests = "^2.31.0"
pre-commit = "^3.6.2"
python-gnupg = "^0.5.2"
translate-toolkit = "^3.12.2"
snakeviz = "^2.2.0"
pyprof2calltree = "^1.4.5"
pytest-xvfb = "^3.0.0"

[tool.briefcase.app.bitcoin-safe.macOS]
universal_build = true
requires = [ "std-nslog~=1.0.0",]
system_runtime_requires = [ "libzbar0", "libsecp256k1-1",]

[tool.briefcase.app.bitcoin-safe.linux]
icon = "tools/resources/icon"

[tool.briefcase.app.bitcoin-safe.windows]
requires = []
use_full_install_path = false

[tool.briefcase.app.bitcoin-safe.iOS]
supported = false

[tool.briefcase.app.bitcoin-safe.android]
supported = false

[tool.briefcase.app.bitcoin-safe.web]
supported = false

[tool.briefcase.app.bitcoin-safe.macOS.entitlement]
"com.apple.security.device.camera" = true

[tool.briefcase.app.bitcoin-safe.macOS.info]
NSCameraUsageDescription = "This application supports scanning QR-codes."

[tool.briefcase.app.bitcoin-safe.linux.appimage]
manylinux = "manylinux_2_28"
icon = "tools/resources/icon"
resources = [ "tools/resources/icon/*.png", "tools/resources/icon/*.svg",]

[tool.briefcase.app.bitcoin-safe.linux.flatpak]
flatpak_runtime = "org.kde.Platform"
flatpak_runtime_version = "6.6"
flatpak_sdk = "org.kde.Sdk"

[tool.briefcase.app.bitcoin-safe.linux.system.debian]

[tool.briefcase.app.bitcoin-safe.linux.system.rhel]
system_runtime_requires = [ "qt6-qtbase-gui",]

[tool.briefcase.app.bitcoin-safe.linux.system.suse]
system_runtime_requires = [ "libQt6Gui6",]

[tool.briefcase.app.bitcoin-safe.linux.system.arch]
