[build-system]
requires = [ "setuptools>=65.0.0", "wheel", "poetry-core", "poetry-version-plugin", "packaging>=20.0", "pyinstaller-hooks-contrib>=2024.11"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 110




[tool.poetry]
name = "bitcoin-safe"
# the version here and in all other places in this toml are updated automatically
# from the source: bitcoin_safe/__init__.py
version = "1.0.5"
description = "A bitcoin savings wallet for the entire family."
authors = [ "andreasgriffin <andreasgriffin@proton.me>",]
license = "GPL-3.0"
readme = "README.md"
homepage = "https://www.bitcoin-safe.org"

[tool.poetry-version-plugin]
source = "init"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
fpdf2 = "^2.7.4"
requests = "^2.31.0"
pyyaml = "^6.0"
bdkpython = "^0.32.0"
cryptography = "^43.0.1"
hwi = ">=2.3.1"
appdirs = "^1.4.4"
reportlab = "4.0.8"
cbor2 = "^5.6.0"
pyqt6 = "^6.6.1"
pyqt6-charts = "^6.6.0"
pgpy = "^0.6.0"
python-gnupg = "^0.5.2"
numpy = "2.2.1" # error in wine/pyinstaller when increased
# bitcoin-qr-tools =   {path="../bitcoin-qr-tools"} #  "^0.10.15"
# bitcoin-nostr-chat =   {path="../bitcoin-nostr-chat"} #  "^0.2.6"
# bitcoin-usb =   {path="../bitcoin-usb"} #  "^0.3.3"
bitcoin-qr-tools =    "^1.0.4"
bitcoin-nostr-chat = "^0.6.2" # { git = "https://github.com/andreasgriffin/bitcoin-nostr-chat.git", rev = "fda38f7c4879fbced753a8d3466d50c571c06769" }
bitcoin-usb =  "^0.7.8"
pysocks = "^1.7.1"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
pytest-qt = ">=4.4.0"
# briefcase = "0.3.19"
requests = "^2.31.0"
pre-commit = "^3.8.0"
python-gnupg = "^0.5.2"
translate-toolkit = "^3.12.2"
snakeviz = "^2.2.0"
pyprof2calltree = "^1.4.5"
pytest-xvfb = "^3.0.0"
tomlkit = "^0.13.2"
poetry = "^1.8.4"
pyinstaller = "^6.11.0"
poetry-plugin-export = "^1.8.0"
objgraph = "^3.6.2"



[tool.poetry.group.build_mac.dependencies]
altgraph =  "0.17.4"  
macholib =  "1.16.3" 
pyinstaller-hooks-contrib =  "2024.11" 

[tool.poetry.group.build_wine.dependencies]
altgraph="0.17.4"
pefile="2023.2.7" # needed for  ensure-signed-file-integrity
pyinstaller-hooks-contrib="2024.11" # necessary to discover all submodules like jaraco



[tool.pytest.ini_options]
markers = [
    "marker_qt_1: marks tests as marker_qt_1 (deselect by default)",
    "marker_qt_2: marks tests as marker_qt_2 (deselect by default)"
]


# [tool.briefcase]
# project_name = "Bitcoin-Safe"
# bundle = "org.bitcoin-safe"
# version = "1.0.0b5"
# url = "www.bitcoin-safe.org"
# author = "Andreas Griffin"
# author_email = "andreasgriffin@proton.me"

# [tool.briefcase.license]
# file = "LICENSE"

# [tool.briefcase.app.bitcoin-safe]
# formal_name = "Bitcoin-Safe"
# description = "A bitcoin wallet for the entire family."
# long_description = "More details about the app should go here.\n"
# sources = [ "bitcoin_safe",]
# test_sources = [ "tests",]
# test_requires = [ "pytest",] 
# resources = [ "bitcoin_safe/gui/locales/*.qm",]
# # these requirements are updated from the poetry lock file automatically
# requires = ["altgraph==0.17.4", "appdirs==1.4.4", "arrow==1.3.0", "base58==2.1.1", "bdkpython==0.31.0", "binaryornot==0.4.4", "bitcoin-nostr-chat==0.5.1", "bitcoin-qr-tools==1.0.0", "bitcoin-usb==0.7.0", "briefcase==0.3.19", "build==1.2.2.post1", "cachecontrol==0.14.1", "cbor2==5.6.5", "certifi==2024.8.30", "cffi==1.17.1", "cfgv==3.4.0", "chardet==5.2.0", "charset-normalizer==3.4.0", "cleo==2.1.0", "click==8.1.7", "colorama==0.4.6", "construct==2.10.70", "construct-classes==0.1.2", "cookiecutter==2.6.0", "crashtest==0.4.1", "cryptography==43.0.3", "cwcwidth==0.1.9", "defusedxml==0.7.1", "distlib==0.3.9", "dmgbuild==1.6.2", "ds-store==1.3.1", "dulwich==0.21.7", "ecdsa==0.19.0", "exceptiongroup==1.2.2", "fastjsonschema==2.21.1", "filelock==3.16.1", "fonttools==4.55.3", "fpdf2==2.8.1", "gitdb==4.0.11", "gitpython==3.1.43", "hidapi==0.14.0.post4", "hwi==3.1.0", "identify==2.6.3", "idna==3.10", "importlib-metadata==8.5.0", "iniconfig==2.0.0", "installer==0.7.0", "jaraco-classes==3.4.0", "jeepney==0.8.0", "jinja2==3.1.4", "keyring==24.3.1", "libusb1==3.1.0", "lxml==5.3.0", "mac-alias==2.2.2", "macholib==1.16.3", "markdown-it-py==3.0.0", "markupsafe==3.0.2", "mdurl==0.1.2", "mnemonic==0.21", "more-itertools==10.5.0", "msgpack==1.1.0", "mss==9.0.2", "nodeenv==1.9.1", "noiseprotocol==0.3.1", "nostr-sdk==0.32.2", "numpy==2.2.0", "opencv-python-headless==4.10.0.84", "packaging==24.2", "pefile==2023.2.7", "pexpect==4.9.0", "pgpy==0.6.0", "pillow==10.4.0", "pip==24.3.1", "pkginfo==1.12.0", "platformdirs==4.3.6", "pluggy==1.5.0", "poetry-core==1.9.1", "poetry-plugin-export==1.8.0", "pre-commit==3.8.0", "protobuf==4.25.5", "psutil==5.9.8", "ptyprocess==0.7.0", "pyaes==1.6.1", "pyasn1==0.6.1", "pycparser==2.22", "pygame==2.6.1", "pygments==2.18.0", "pyinstaller==6.11.1", "pyinstaller-hooks-contrib==2024.10", "pyprof2calltree==1.4.5", "pyproject-hooks==1.2.0", "pyqrcode==1.2.1", "pyqt6==6.8.0", "pyqt6-charts==6.8.0", "pyqt6-charts-qt6==6.8.1", "pyqt6-qt6==6.8.1", "pyqt6-sip==13.9.1", "pyserial==3.5", "pytest==8.3.4", "pytest-qt==4.4.0", "pytest-xvfb==3.0.0", "python-bitcointx==1.1.4", "python-dateutil==2.9.0.post0", "python-gnupg==0.5.3", "python-slugify==8.0.4", "pyvirtualdisplay==3.0", "pywin32-ctypes==0.2.3", "pyyaml==6.0.2", "pyzbar==0.1.9", "rapidfuzz==3.10.1", "reportlab==4.0.8", "requests==2.32.3", "requests-toolbelt==1.0.0", "rich==13.9.4", "secretstorage==3.3.3", "segno==1.6.1", "semver==3.0.2", "setuptools==75.6.0", "shellingham==1.5.4", "six==1.17.0", "smmap==5.0.1", "snakeviz==2.2.2", "text-unidecode==1.3", "tomli==2.2.1", "tomli-w==1.1.0", "tomlkit==0.13.2", "tornado==6.4.2", "translate-toolkit==3.14.2", "trezor==0.13.9", "trove-classifiers==2024.10.21.16", "types-python-dateutil==2.9.0.20241206", "typing-extensions==4.12.2", "urllib3==2.2.3", "virtualenv==20.28.0", "wheel==0.45.1", "zipp==3.21.0"]

 

# [tool.briefcase.app.bitcoin-safe.macOS]
# universal_build = true
# requires = [ "std-nslog~=1.0.0",]
# system_runtime_requires = [ "libzbar0", "libsecp256k1-1",]

# [tool.briefcase.app.bitcoin-safe.linux]
# icon = "tools/resources/icon"

# [tool.briefcase.app.bitcoin-safe.windows]
# requires = []
# use_full_install_path = false

# [tool.briefcase.app.bitcoin-safe.iOS]
# supported = false

# [tool.briefcase.app.bitcoin-safe.android]
# supported = false

# [tool.briefcase.app.bitcoin-safe.web]
# supported = false

# [tool.briefcase.app.bitcoin-safe.macOS.entitlement]
# "com.apple.security.device.camera" = true

# [tool.briefcase.app.bitcoin-safe.macOS.info]
# NSCameraUsageDescription = "This application supports scanning QR-codes."

# [tool.briefcase.app.bitcoin-safe.linux.appimage]
# # deprecated.  appimage are build using the 
# # dedicated docker container
# manylinux = "manylinux_2_28"
# icon = "tools/resources/icon"
# resources = [ "tools/resources/icon/*.png", "tools/resources/icon/*.svg",]
# version = "1.0.0b5"
# # system_requires = [ "cmake", "gcc", "gcc-c++", "make", "perl",  "git",   "libxcb", "libxcb-devel", "xcb-util", "xcb-util-devel",   "mesa-libGL-devel", "openssl-devel",   "bison", "flex", "gperf", "sqlite-devel",  "libicu-devel"]


# [tool.briefcase.app.bitcoin-safe.linux.flatpak]
# bundle = "org.bitcoinsafe"
# flatpak_runtime = "org.kde.Platform"
# flatpak_runtime_version = "6.6"
# flatpak_sdk = "org.kde.Sdk"

# version = "1.0.0b5"


# [tool.briefcase.app.bitcoin-safe.linux.system.debian]

# [tool.briefcase.app.bitcoin-safe.linux.system.rhel]
# system_runtime_requires = [ "qt6-qtbase-gui",]

# [tool.briefcase.app.bitcoin-safe.linux.system.suse]
# system_runtime_requires = [ "libQt6Gui6",]

# [tool.briefcase.app.bitcoin-safe.linux.system.arch]



