aiohttp==3.8.4
aiohttp_socks==0.8.0
aiorpcX==0.22.1
appdirs==1.4.4
bdkpython==0.28.3
certifi==2023.5.7
cryptography==40.0.2
dnspython==2.3.0
jsonschema==4.17.3
numpy==1.24.3
Pillow==9.5.0
Pillow==9.5.0
PySide2==5.15.2.1
PySide2==5.15.2.1
PyYAML==6.0
PyYAML==6.0
qrcode==7.4.2
Requests==2.31.0
pre-commit
fpdf2==2.7.4
