aiohttp==3.8.4
aiohttp_socks==0.8.0
aiorpcX==0.22.1
bdkpython==0.28.3
certifi==2023.5.7
cryptography==40.0.2
dnspython==2.3.0
PyQt5==5.15.9
PyQt5_sip==12.12.1
PySide2==5.15.2.1
qasync==0.24.0
qrcode==7.4.2
QtRangeSlider==0.1.5
setuptools==67.7.2
appdirs==1.4.4
