[Desktop Entry]
Type=Application
Name=Bitcoin-Safe
Exec=AppRun %F
Icon=bitcoin-safe
Categories=Utility;
Comment=A desktop software for managing your cold storage wallets
StartupWMClass=Bitcoin-Safe
