[Desktop Entry]
Type=Application
Name=Bitcoin-Safe
Exec=run-bitcoin-safe.sh %F
Icon=org.bitcoin_safe.BitcoinSafe
Terminal=false
Categories=Utility;Finance;
Keywords=bitcoin;crypto;multisig;wallet;btc;cold wallet;hardware wallet;PSBT;air-gapped;self-custody;
Comment=Manage your cold storage wallets
StartupWMClass=Bitcoin-Safe
