name: Run All Builds
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      signing-policy-slug:
        description: 'signing-policy-slug  ("" for no signing, "test-signing", "release-signing" for valid signing)'
        type: choice
        options:
          - ''
          - test-signing
          - release-signing
        default: ''
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled

jobs:
  mac:
    # Allow manual dispatch, or PR events where the Build-Relevant label is present (including on subsequent commits).
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'Build-Relevant')) }}
    uses: ./.github/workflows/build-and-test-mac.yml
    secrets: inherit

  linux:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'Build-Relevant')) }}
    uses: ./.github/workflows/build-appimage-and-test.yml
    secrets: inherit

  windows:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'Build-Relevant')) }}
    uses: ./.github/workflows/build-windows-and-test.yml
    with:
      signing-policy-slug: ${{ github.event.inputs.signing-policy-slug || '' }}
    secrets: inherit
