pip==25.3
# pyinstaller cannot handle the newest version of setuptools
# of 75  it gives the jacaro.text dependency error of the packaged dmg
# https://github.com/pyinstaller/pyinstaller/issues/6564
# setuptools==78.1.1 seems to be compatible with pyinstaller 6.13.0
setuptools==80.9.0
setuptools-scm==9.2.2
flit-core==3.12.0
packaging==25.0
poetry-core==2.2.1
tomli==2.3.0
typing-extensions==4.15.0
wheel==0.45.1